# Ignorar carpetas de configuración de Visual Studio
.vs/
Debug/
Release/
bin/
obj/

# Ignorar archivos específicos de configuración del proyecto
*.user
*.suo
*.vcxproj.user

# Ignorar archivos de compilación
*.exe
*.dll
*.pdb
*.log

# Ignorar archivos temporales del sistema
*.tmp
*.temp
*.cache
